.new-file-form {
  flex: 1;
}

.new-file-form form {
  display: block;
  margin-top: 15px;
  padding: 15px;
}

.new-file-form .textarea-container {
  position: relative;
}

.new-file-form input {
  display: block;
  margin-bottom: 1.25rem;
}

.new-file-form textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  font-family: monospace;
  color: lightgray;
  background-color: #1a1b26;
  white-space: pre-wrap;
  overflow: auto;
  resize: none;
}

.fileName-save {
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-between;
}

.fileName-save > button {
  margin-bottom: 30px;
}

.mousedown-rev,
.mousedown-for {
  background-color: #000080;
}

.view-edit-btn {
  position: relative;
  top: 85px;
  background-color: #5949b3;
}

#save-btn {
  background-color: #000080;
}

.onclick-rev,
.onclick-for {
  background-color: #6a5acd;
}
